html,
body {
  background-color: rgb(102, 194, 211);
}

.home-bg-color {
  background-color: rgb(102, 194, 211);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bitter", serif;
}

.login-signup-container {
  background-color: rgb(255, 91, 58);
  padding: 25px;
  margin: 20px;
}

.link-style {
  text-decoration: none;
}

.general-text {
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.slogan-bg {
  background-color: rgb(255, 91, 58);
}

.slogan-text {
  font-family: "Fugaz One", cursive;
  color: white;
  text-align: center;
}

.text-size {
  font-weight: 800;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
}

.card-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
