.sign-in-h1 {
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
}
.sign-in-h1 {
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
}
.div-signup {
    height: 84vh;
}
.img-form-signup {
    width: 100px;
}
.section-form-signup-rectangle {
    width: 350px;
    background-color: transparent;
    border: solid #718f7e;
    margin-left: -1px;
    border-radius: 10px;
    max-width: 100%;
    padding: 30px;
  }
  
  .section-form-signup-rectangle input {
    border: 1px solid #718f7e;
    border-radius: 10px;
    width: 300px;
    height: 35px;
    align-self: center;
  }
  .section-form-signup-rectangle label {
    padding-top: 25px;
  }
  
  .section-form-signup-rectangle :placeholder-shown {
    padding-left: 20px;
  }
  
  .section-form-signup-rectangle button {
    border-radius: 10px;
    background-color: #a3cfb6;
    border: 1px solid #3e4f46;
    margin-top: 30px;
    width: 150px;
    align-self: center;
  }
  
  .error-message {
    font-size: 0.8rem;
    width: 80%;
  }
  .SignUp {
    padding-top: 70px;
  }
  
  .backtologin {
    color: black;
    font-family: "Sans Serif";
  }
  