/* Seus estilos globais vão aqui */

body {
    background-color:aquamarine
}


.img{
    height: 300px;
    width: auto;
}

.img-detalhe{
    width: 500px;
    height: auto;
}
.link-detalhe{
    color:white;
}

.btn-edit{
    width: 35px;
    color:danger;
padding: 5px;
}
.home{
    width:  900px;
    margin-right: 20px;
}
.lista{
    width: auto;
    display: inline-block;
}



